/* 
.pharmacy-mini-card{
    width: 100%;
    max-width: 418px; 
    height: auto;
    border-radius: 12px;
    background-color: var(--bg-white);
    right: 13%;
    position: absolute;
    top: 100%;
    padding: 6px;
    z-index: 50;
     box-shadow: 
        0px 0.8px 5.32px 0px rgba(74, 92, 109, 0.0485),
        0px 2.68px 17.87px 0px rgba(74, 92, 109, 0.0715),
        0px 12px 80px 0px rgba(74, 92, 109, 0.12);
}
.pharmacy-box{
    
    border-radius: 8px;
    padding: 12px 16px;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.pharmacy-details{
    gap: 4px;
    display: flex;
    flex-direction: column;
    
}
.pharmacy-details h3{
    font-weight: 700;
    font-size: 16px;
    color: var(--tp-green);
    margin-bottom: 8px;
}
.pharmacy-details p{
    font-weight: 400;
    font-size: 14px;
}
.pharmacy-links{
    gap: 4px;
    margin-bottom: 4px;
}
.pharmacy-links a{
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    color: var(--tp-green);
}

.pharmacy-dot{
    color: #000;
    margin: 0 4px;
    
}

.pharmacy-another-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 12px 16px;
    gap: 12px;
}
@media (max-width:991px){
        
} */

.pharmacy-wrapper{
    background-color: var(--white);
    border-radius: 12px;
    padding: 6px;
    gap: 6px;
    box-shadow: 0px 0.8px 5.32px 0px #4A5C6D0C,
    0px 2.68px 17.87px 0px #4A5C6D12,
    0px 12px 80px 0px #4A5C6D1F;
    height: 194px;
    width: 418px;
}
.pharmacy-current-pharmacy{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #1C4C4F14;
    padding: 12px 16px;
    border-radius: 8px;
}
.pharmacy-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.pharmacy-contact-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.pharmacy-info h3{
    color: var(--tp-green);
    line-height: 100%;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-secondary);
}
.pharmacy-info p{
    font-weight: 400;
    font-family: var(--font-secondary);
    font-size: 14px;
    line-height: 100%;
    color: var(--dark-gray);
}
.pharmacy-contact{
    display: flex;
    gap: 8px;
    align-items: center;
}
.pharmacy-contact a{
    font-weight: 400;
    font-family: var(--font-secondary);
    font-size: 14px;
    line-height: 100%;
    color: var(--tp-green);
    
}
.pharmacy-hours{
    display: flex;
    gap: 6px;
}
.pharmacy-hours span{
    padding: 6px;
    gap: 10px;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    font-family: var(--font-secondary);
}
.pharmacy-arrow{
    width: 24px;
    height: 24px;
    color: var(--tp-green);
}
.pharmacy-choose-button{
    justify-content: space-between;
    display: flex;
    padding: 10px 16px;
    gap: 10px;
    background-color: var(--white);
    border: none;
    align-items: center;
}
.pharmacy-choose-button span{
    font-family: (--font-secondary);
    color: var(--dark-gray);
    line-height: 100%;
    font-size: 16px;
    font-weight: 400;
}