.pharmacy-map{
  position: relative;
  width: 100%;
  display: flex;
}
.pharmacy-map-con{
  position: relative;
  width: 100%;
  aspect-ratio: 16 /9;
}
.pharmacy-map-img-wrapper{
  position: absolute;
  inset: 0;
}
.pharmacy-map-img{
  object-fit: cover;
  
}
.pharmacy-location-pin-wrapper{
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.pharmacy-locaion-img{
  
}