
.step-section{
    padding: 30px 53px 30px 53px;
    display: flex;
    gap: 10px;
    background: #ffffff66;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;

  box-shadow: 0px 4px 4px 0px #0000001f;
}
.step-section-con{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.step-section-con span{
    color: var(--gray);
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 32px;
}

.step-section-con h3{
    color: var(--tp-green);
    font-size: 24px;
    font-weight: 600;
   
}

.step-section-con p{
    color: var(--dark-gray);
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}