
.hero {
  width: 100%;
  min-height: 804px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url(../../../public/imaegs/image.png); */
  display: flex;
  background-color: #fff;
  /* background-position:center;
  background-repeat: no-repeat;
  background-size: cover; */
  padding:0;

}
.hero::before {
  content: "";

  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    #fff 0%,
    rgba(255, 255, 255, 0.9) 25%,
    rgba(255, 255, 255, 0) 60%
  );

  z-index: 2;
}

.hero-container {
  /* display: flex;
  position: relative;

  flex-direction: column;
  top:128px;
  gap: 44px;
  z-index: 3; */
   position: relative;
  z-index: 3;

  width: 100%;
  max-width: 1200px;

  margin: 0 auto;

  padding-top: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 44px;
}
.hero {
  background-image: url("../../../public/imaegs/image.png");
  background-repeat: no-repeat;

  background-size: 1440px 584px;

  background-position: center 220px;
}
.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 1018px;
}
.hero-header {
  font-weight: 600;
  font-size: 90px;
  line-height: 1.1;
  text-align: center;
  margin: 0;
}
.hero-header span {
  color: var(--tp-green);
}
.hero-text {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  max-width: 719px;
  margin: 0;
}
.hero-button-wrapper{
  align-items: center;
  display: flex;
  justify-content: center;
}
.hero-button{
  padding: 16px 24px;
  display: flex;
  gap: 10px;
}

@media (max-width:1200px){
  .hero-header{
    font-size: 64px;
  }
}

@media (max-width: 770px){
  .hero{
    min-height: auto;
    padding: 6rem 1rem 4rem;
    background-size:cover;
    background-position: ce;
  
  }
  .hero-container{
    gap: 32px;
  }
  .hero-header{
    font-size: 45px;
  }
  .hero-text{
    font-size: 1,125rem;
  }
}
@media (max-width:540px){
    .hero {
    padding: 5rem 1rem 3rem;
  }
  
  .hero-container {
    gap: 24px;
  }
  
  .hero-header {
    font-size: 35px;
  }
  
  .hero-text {
    font-size: 1rem;
  }

  
}