.treatment-section {
  padding: 4%;
}
.treatment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.treatment-heading {
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  max-width: 1047px;
  width: 100%;
}
.treatment-heading span {
  color: var(--tp-green);
}
.treatment-slider {
  display: flex;
  gap: 10px;
}

.treatment-slider button {
  background: transparent;
  color: var(--dark-gray);
  border-radius: 50%;
  border: 1px solid var(--gray);
  height: 40px;
  width: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.treatment-card-container {
  display: grid;
  grid-template-columns: repeat(var(--cards-per-page, 3), minmax(0, 1fr));
  gap: 26px;
}
.treatment-card-item {
  min-width: 0;
}
