

.treatment-section{
  padding: 4%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.treatment-header{
  display: flex;
  justify-content: space-between;
}
.treatment-heading{
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  color: var(--section-title);  
  max-width: 1047px;
}
.treatment-heading span{
  color: var(--tp-green);
}
.treatment-slider{
  display: flex;
  gap: 20px;
}
.treatment-slider button{
  background-color: transparent;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282828;
  border: 1px solid #727272;
}

.treatment-card-container{
  display: grid;
  grid-template-columns: repeat(var(--treatmentCardPerPage, 3), minmax(0, 1fr));
  gap:20px
}
.treatment-card-item{
  min-width:0;
}

@media (max-width:700px){
  .treatment-heading{
  font-size: 25px;
  line-height: 100%;
  max-width: 400px;
}
.treatment-card-container{
  display: grid;
  grid-template-columns: repeat(var(--treatmentCardPerPage, 2), minmax(0, 1fr));
  gap:20px
}

}

@media (max-width:550px){
  .treatment-card-container{
  display: grid;
  grid-template-columns: repeat(var(--treatmentCardPerPage, 1), minmax(1fr));
  gap:20px
}
.treatment-header{
 gap: 20px;
  flex-direction: column;
}
}