

.footer {
  background-color: var(--tp-green);
  width: 100%;
  padding: 34px 60px;
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.footer-top-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
.footer-left-col-section{
    display: flex;
    gap: 52px;
    width: 100%;
    justify-content: space-around;
}

.footer-heading{
    font-family: var(--font-secondary);
    color: #f2f2f2;
    line-height: 100%;
    font-size: 20px;
    font-weight:400;   
}
.footer-right-col-section{

}
.footer-bottom-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}
.footer-powered-text {
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
     color: var(--light-gray);
}
.footer-powered-text span {
  text-align: center;
}
.footer-copyright-section {
  border-bottom: 1px solid color-mix(in srgb, var(--tp-bg) 32%, transparent);
  border-top: 1px solid color-mix(in srgb, var(--tp-bg) 32%, transparent);
  height: 95px;
  align-items: center;
  display: flex;
  width: 100%;
}
.footer-copyright-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  width: 100%;
}
.footer-copyright {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--light-gray);
}
.footer-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-desc{
    display: flex;
    flex-direction: column;
    gap: 12px;
     list-style: none;
     padding: 0;
     margin: 0;
     align-items:flex-start;
}
.footer-desc li{
    display: flex;
    align-items: center;

}
.footer-desc li svg{
  
    margin-right: 6px;
     color: #f2f2f2;
     flex-shrink: 0;    
}
.footer-desc li span{
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 14px;
    color: #f2f2f2;
}
.footer-links-wrapper{
   display: flex;
    align-items: center;

}
.footer-links {
  display: flex;
  gap: 24px;
  
}
.footer-external-link {
  color: var(--light-gray);
  font-size: 14px;
  font-family: var(--font-secondary);
  font-weight: 400;
}
.footer-text-con{
    display: flex;
    flex-direction: column;
    gap: 4px;
    

}
.footer-text-con span{
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
}
.footer-text-con a{
    display: flex;
    gap: 4px;
}

.footer-icon-img-wrapper{
    height: 36px;
    width: 36px;
    background-color:var(--tp-bg);
    border-radius: 50%;
   justify-content: center;
    align-items: center;
    display: flex;
    

}
.footer-icon-img{
    height: 15px;
    width: 15px;
    object-fit: cover;    
    background-color: white;
    
}
.footer-right-col-section{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.footer-img-icon-wrapper{
    display: flex;
    gap: 15px;
}
.footer-middle-img-con{
 gap: 20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
   margin-bottom: 1.5rem;   
}
.footer-badge-img{
 width: 73.94px;
    height: 30.33px;   
}
.footer-emergency{
    font-size: 0.95rem;
}
.footer-emergency-title{
    font-weight: 400;
    color: var(--bg-white);
    display: block;
    font-family: var(--font-secondary);
}
.footer-emergency-subtitle{
    font-weight: 400;
    color: var(--bg-white);
    display: block;
    font-family: var(--font-secondary);
}