.patients-container{
    gap: 44px;
    display: flex;
    align-items: center;
    flex-direction: column;
 

}
.patients-container h2{
    font-family: var(--font-plus-jakarta);
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
}

 .patient-slider-viewport{
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 32px;
    display: flex;
    width: 300px;

 }
.patient-controls{
    display: flex;
    gap:16px;

    margin-top: 30px;
    margin-bottom: 60px;
    
}
.control-btn{
    background-color: var(--white);
    border: 1px solid #727272;
    color: var(--dark-gray);
    border-radius: 50%;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.patients-cards-wrapper{
    display: flex;
    gap: 20px;
  transform: translateX(calc(-8.333% - 5px));

}
.patients-cards-wrapper{
    
    display: flex;
}
