.about-page{
    width: 100%;
    overflow: hidden;
}

.about-title{
    margin: 0 3%;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;    
}
.about-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width:1024px){
    .about-title{
        margin: 0 2%;
        font-size: 36px;
    }
}

@media (max-width:768px){
    .about-title{
        margin: 0 20px;
        font-size: 32px;
    }
    .about-content{
        width: 100%;
    }
}

@media (max-width: 480px){
    .about-title{
        margin: 0 16px;
        font-size: 28px;
    }
}